#about {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    #about {
        padding: 1rem 8rem 1rem 1rem;
    }
}

@media screen and (min-width: 992px) {
    #about {
        padding: 1rem 16rem 1rem 1rem;
    }
}