.hero {
    padding: 8rem 16rem 2rem 16rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 992px) {
    .hero {
        padding: 6rem 1rem 2rem 1rem;
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }
}

#wave {
    display: inline-block;
    transition: transform 0.5s ease;
    background-color: rgba(0, 0, 0, 0);
}

#wave:hover {
    cursor: pointer;
    animation: wave 1.5s infinite;
}

/* Tilt and Shake Animation: https://unused-css.com/blog/css-shake-animation/*/
@keyframes wave {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 1rem;
}

@media screen and (max-width: 992px) {
    .hero-left {
        text-align: center;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
}

@media screen and (max-width: 992px) {
    .button-container {
        justify-content: center;
    }
}

.hero-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .hero-right {
        justify-content: center;
    }
}

.hero-right img {
    width: 80%;
    border-radius: 100rem;
}

@media screen and (max-width: 992px) {
    .hero-right img {
        width: 30%;
    }
}

@media screen and (max-width: 576px) {
    .hero-right img {
        width: 45%;
    }
}
