.hero {
    padding: 4rem 16rem;
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media screen and (max-width: 768px) {
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
	}

    .hero-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        gap: 1rem;

        .text-container {
            display: flex;
            flex-direction: column;
        }

        .button-container {
            display: flex;
        }
    }

    .hero-right {
        @media screen and (max-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 100%;
            border-radius: 1rem;

            @media screen and (max-width: 768px) {
                width: 50%;
            }
        }
    }
}