#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#home .hero-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#home .signature {
    color: var(--accent);
    font-family: "JetBrainsMono", monospace;
}