#home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#home .title {
    padding-bottom: 2rem;
    font-size: 0.6rem;
    text-align: center;
}

@media (min-width: 768px) {
    #home .title {
        font-size: 1rem;
        text-align: left;
    }
}

#home .hero-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#home h2, #home h3 {
    color: var(--accent);
    font-weight: 700;
}

#home .signature {
    color: var(--accent);
}