#home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#home .title {
    color: #005A9C;

    font-size: 0.75rem;
    text-align: center;
}

@media (min-width: 768px) {
    #home .title {
        font-size: 1rem;
        text-align: left;
    }
}

#home h2 {
    color: #005A9C;
    font-weight: 700;
}