#home {
    width: 100%;
    padding: 1rem;
}

.title {
    padding-bottom: 2rem;
    font-size: 0.625rem;
}

@media (min-width: 768px) {
    .title {
        font-size: 0.875rem;
    }
}

h2 {
    color: #005A9C;
    font-weight: 700;
}