#navbar {
    padding: 0.75rem 11rem 0rem 11rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

@media screen and (max-width: 768px) {
    #navbar {
        padding: 0.75rem 1rem 0rem 1rem;
    }
}

nav {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

nav h1 {
    display: none;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-image {
    height: 3rem;
}

.links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;

    @media screen and (max-width: 768px) {
        gap: 1rem;
    }
}

hr {
    margin-top: 0.5rem;
    border: none;
    height: 1px;
    background-color: var(--subtext);
}