#works {
    padding: 4rem 16rem;
}

@media screen and (max-width: 768px) {
    #works {
        padding: 2rem 1rem;
    }
}

.works-container {
    padding-top: 1rem;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

@media screen and (max-width: 992px) {
    .works-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .works-container {
        grid-template-columns: 1fr;
    }
}

.project-card {
    padding: 1rem;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    background-color: var(--card);
    text-align: center;
    border-radius: 1rem;
    transition: 0.3s;
}

a.project-card:hover {
    background-color: var(--primary);
}

.project-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 100%;
    filter: drop-shadow(1px 1px 1px gray);
}

.project-card img, h3, p {
    background-color: rgba(0, 0, 0, 0);
}