#projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#projects a, #projects a:visited {
    color: inherit;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

#projects .proj-card {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 768px) {
    #projects .proj-card {
        margin: 0;
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 2rem;
        text-align: left;
    }
}

@media screen and (min-width: 992px) {
    #projects .proj-card {
        grid-template-columns: 300px 1fr;
    }
}

#projects .proj-card img {
    width: 300px;
    border: 2px solid var(--text);
    border-radius: 0.5rem;

}

#projects .proj-title {
    font-size: 1rem;
    font-weight: 700;
}

#projects .proj-card:hover .proj-title {
    text-decoration: underline;
}

#projects .proj-card:active .proj-title {
    color: var(--primary);
}

#projects .proj-stack {
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 100;
}

#projects .proj-desc {
    font-weight: 400;
}