#projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#projects a, #projects a:visited {
    color: inherit;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

#projects a:hover {
    text-decoration: underline;
}

#projects .proj-card {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 768px) {
    #projects .proj-card {
        margin: 0;
        display: grid;
        grid-template-columns: 250px 1fr;
        gap: 2rem;
        text-align: left;
    }
}

#projects .proj-card img {
    width: 350px;
    border: 2px solid #D1D1D1;
    border-radius: 1rem;

}

@media screen and (min-width: 768px) {
    #projects .proj-card img {
        width: 250px;
    }
}

#projects .proj-card .proj-stack {
    font-size: 0.875rem;
    font-style: italic;
}