#footer {
    padding: 0rem 11rem 0.75rem 11rem;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #footer {
        padding: 0rem 1rem 0.75rem 1rem;
    }
}

hr {
    margin-top: 0.5rem;
    border: none;
    height: 1px;
    background-color: var(--subtext);
}