#experience {
    display: flex;
    flex-direction: column;
    gap: 2rem;
} 

h2 {
    color: var(--accent);
    font-weight: 700;
}


h3 {
    font-size: 1rem;
    font-weight: 700;
}

.exp-card {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 2rem;
    align-items: center;
}

.exp-card img {
    max-width: 100px;
    border: 2px solid var(--text);
    border-radius: 1rem;
}

.exp-dates {
    font-size: 0.875rem;
    font-style: italic;
}