#experience {
    display: flex;
    flex-direction: column;
    gap: 2rem;
} 

.exp-card {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 2rem;
    align-items: center;
}

.exp-card img {
    max-width: 100px;
    border: 2px solid var(--text);
    border-radius: 0.5rem;
}

.exp-dates {
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 100;
}