div #app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@media screen and (min-width: 768px) {
    div #app {
        flex-direction: row;
    }
}

main {
    flex-grow: 1;
    width: 100%;
    overflow: auto;
    padding: 2rem;
}

@media screen and (min-width: 768px) {
    main {
        padding: 2rem 4rem 2rem 2rem;
    }
}