@import './reset.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  background: var(--background);
}

:root {
  --text: #eaedef;
  --background: #0d1215;
  --accent: #5ca0d2;
  --primary: #9fbbd0;
  --secondary: #2b5473;
  height: 100%;
  font-size: 18px;
  font-family: "HankenGrotesk", sans-serif;
  scrollbar-color: var(--secondary) var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "JetBrainsMono", monospace;
}

.page-title {
  margin: -1rem 0;
  color: var(--background);
  text-align: center;
  text-shadow: 
    -1px -1px 0 var(--text),
    1px -1px 0 var(--text),
    -1px 1px 0 var(--text),
    1px 1px 0 var(--text);
  text-transform: uppercase;
  font-family: "HankenGrotesk", sans-serif;
  font-size: 12vw;
  font-weight: 900;
  letter-spacing: 0.25rem;
}

@media screen and (min-width: 768px) {
  .page-title {
    margin: -2rem 0;
    font-size: 8vw;
  }
}

.section-title {
  color: var(--accent);
  font-size: 1.5rem;
  font-weight: 600;
}

@font-face {
  font-family: HankenGrotesk;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: HankenGrotesk;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/HankenGrotesk-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: JetBrainsMono;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}