* {
  --background: #FFFFFF;
  --card: #efefef;
  --text: #131312;
  --primary: #4C7766;
  --primaryLight: #608b7a;

  margin: 0;
  padding: 0;
  font-size: 1em;
  scrollbar-width: thin;
}

:root {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: var(--textLight);
  background-color: var(--background);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", sans-serif; font-optical-sizing: auto;
  }
}

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/InterVariable-Italic.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}