* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  background: var(--background);
}

:root {
  --text: #D1D1D1;
  --background: #171717;
  --accent: #31654b;
  height: 100%;
  font-family: "JetBrainsMono", monospace;
}

@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: JetBrainsMono;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf") format("truetype");
}