/* https://www.youtube.com/watch?v=7Xyg8Ja7dyY&t=727s */
.glitch {
    position: relative;
    text-shadow:
        0.05em 0 0 var(--primary),
        -0.025em -0.05em 0 var(--secondary),
        0.025em 0.05em 0 var(--accent);
    animation: glitch 500ms infinite;
}

.glitch span {
    position: absolute;
    top: 0;
    left: 0;
}

.glitch span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.0125em, -0.025em);
    opacity: 0.8;
}

.glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 75%, 100% 75%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    opacity: 0.8;
}

@keyframes glitch {
    0% {
        text-shadow:
        0.05em 0 0 var(--primary),
        -0.025em -0.05em 0 var(--secondary),
        0.025em 0.05em 0 var(--accent);
    }
    14% {
        text-shadow:
        0.05em 0 0 var(--primary),
        -0.025em -0.05em 0 var(--secondary),
        0.025em 0.05em 0 var(--accent);
    }
    15% {
        text-shadow:
        -0.05em -0.025em 0 var(--primary),
        0.025em 0.025em 0 var(--secondary),
        -0.05em -0.05em 0 var(--accent);
    }
    49% {
        text-shadow:
        -0.05em -0.025em 0 var(--primary),
        0.025em 0.025em 0 var(--secondary),
        -0.05em -0.05em 0 var(--accent);
    }
    50% {
        text-shadow:
        0.025em 0.05em 0 var(--primary),
        0.05em 0 0 var(--secondary),
        0 -0.05em 0 var(--accent);
    }
    99% {
        text-shadow:
        0.025em 0.05em 0 var(--primary),
        0.05em 0 0 var(--secondary),
        0 -0.05em 0 var(--accent);
    }
    100% {
        text-shadow:
        -0.025em 0 0 var(--primary),
        -0.025em -0.025em 0 var(--secondary),
        -0.025em -0.05em 0 var(--accent);
    }
}